## Analysis on title
In my previous work, I calculated an overall score based on Treatment Rating, Number of photos, Number of words and Provider rating, without involving column of Title. I figured this data is probably useful, at least couldn't be ignored, so I try to apply latent semantic analysis (LSA) to these customers' review titles.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import TruncatedSVD  
from sklearn.feature_extraction.text import TfidfVectorizer  # convert words into weight matrix

In [31]:
# Import data
df = pd.read_excel('/content/drive/MyDrive/Q2.xlsx')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662 entries, 0 to 661
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Created Date      662 non-null    datetime64[ns]
 1   Treatment Rating  662 non-null    object
 2   Number of Photos  662 non-null    int64
 3   Number of Words   662 non-null    int64
 4   Provider Rating   644 non-null    float64
 5   Physician Type    547 non-null    object
 6   Treatment Name    662 non-null    object
 7   Title             662 non-null    object
 8   Cost              662 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 46.7+ KB

In [3]:
# Preview of data
df.head(10)

  Created Date  ...     Cost
0   2019-05-31  ...     0.00
1   2019-02-13  ...     0.00
2   2019-01-13  ...     0.00
3   2019-06-30  ...     0.00
4   2019-03-21  ...   750.00
5   2019-01-03  ...     0.00
6   2019-02-14  ...     0.00
7   2019-04-06  ...   449.98
8   2019-05-26  ...  2200.00
9   2019-03-19  ...     0.00

[10 rows x 9 columns]

#### Latent semantic analysis on titles 

Suppose that some consumers use words which could express strong emotions, either positive or negative, like fantasitcs, amazing, or horrible, disappointed. On the contrary, others may just choose neutral words, such as natural. So I will try to cluster the review titles, label them and give each title a score denpending on how much consumers like the treatment or hate it.

In [ ]:
# Define all 662 titles as corpus and make sure all words in lowercase.
corpus = df.Title.str.lower()

In [ ]:
# Convert all words in review title, apart from stop words in English, into term frequency–inverse document frequency (TF-IDF) matrix.

vectorizer = TfidfVectorizer(stop_words='english' ) 
vectors = vectorizer.fit_transform(corpus) 
words = vectorizer.get_feature_names()

In [ ]:
print('There are %s distinct words(features) in review titles.' %len(words))

There are 727 distinct words(features) in review titles.

In [ ]:
# print 1st vector in the matrix. 
# Only 4 non-zero elements, corresponding 4 words in first title(apart from stop words), nervous, loyal, customer, visit.
# Most of elements in matrix are 0, so it's a sparse matrix. Need to be downsized.
print(vectors.toarray()[0])

[0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.44051504 0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.55324273 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.520272   0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.47873378 0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.        ]

In [ ]:
# Use truncated SVD to downsize the matrix

categories = 5        # Remain 5 columns, which means review titles will be classified into 5 categories by similarity. 
lsa = TruncatedSVD(n_components=categories)  
trunc_v = lsa.fit_transform(vectors)  
print("--------lsa singular value---------")
print(lsa.singular_values_)
print("--------662 review titles，in %s categories vector space---------" %categories)
print(trunc_v.shape)

--------lsa singular value---------
[5.85804978 4.76231525 4.32992423 3.68126854 3.54158413]
--------662 review titles，in 5 categories vector space---------
(662, 5)

In [ ]:
# Pick 5 most typical titles in each category.

pick_titles = 5  
title_docid = [trunc_v[:, i].argsort()[:-(pick_titles + 1):-1] for i in range(categories)]
#print("--------5 most typical titles in each category---------")
#print(title_docid)

In [ ]:
# Pick 5 key words in each category

pick_keywords = 5  
cat_keywdid = [lsa.components_[i].argsort()[:-(pick_keywords + 1):-1] for i in range(categories)]
#print("--------3 typical words in each category---------")
#print(cat_keywdid)

In [ ]:
print("-------- Results---------")
for c in range(categories):
    print("\n rating categories {}".format(c+1))
    print("\t keywords：{}".format(", ".join(words[cat_keywdid[c][j]] for j in range(pick_keywords))))
    for i in range(pick_titles):
        print('\t\t titles %s: %s,' % ('{}'.format(i+1),corpus[title_docid[c][i]]))

-------- Results---------

 rating categories 1
	 keywords：experience, amazing, great, botox, results
		 titles 1: amazing experience,
		 titles 2: amazing experience...,
		 titles 3: i had an amazing experience,
		 titles 4: amazing experience,
		 titles 5: amazing experience,

 rating categories 2
	 keywords：botox, best, great, results, treatment
		 titles 1: botox,
		 titles 2: botox,
		 titles 3: botox,
		 titles 4: botox,
		 titles 5: botox,

 rating categories 3
	 keywords：great, experience, service, results, wonderful
		 titles 1: great experience, great results!,
		 titles 2: another great experience,
		 titles 3: always a great experience!!,
		 titles 4: great experience,
		 titles 5: great experience!,

 rating categories 4
	 keywords：best, experience, doctor, dr, plastic
		 titles 1: the best,
		 titles 2: best of the best,
		 titles 3: best of the best!,
		 titles 4: best experience!,
		 titles 5: best botox! best doctor! best medi spa!,

 rating categories 5
	 keywords：results, excellent, love, staff, happy
		 titles 1: excellent results,
		 titles 2: excellent results,
		 titles 3: excellent results,
		 titles 4: love the results!,
		 titles 5: love the results,

As the result shows, titles are classified into 5 categories, based on how strongly they related to each category, or each particular topic. However, I'm facing several problems. The first problem is, although there are 5 categories, I can't state that one category represents stronger emotion than another does, in other words, I'm unable to grade the categories. 

The 2nd problem is that there're too many identical key words in different categories, so the classification is not performed well. This is easy to be understood because most customers selected same words to express their happiness.

#### I noticed that there are no negative words in any category, Thus, this time, I'll analyze the titles written by consumers giving 'Not worth it' only.

In [ ]:
# Extract titles written by users give negative rating.
df_neg = df[df['Treatment Rating'] == 'Not worth it']
df_neg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 4 to 633
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Created Date      31 non-null     datetime64[ns]
 1   Treatment Rating  31 non-null     object
 2   Number of Photos  31 non-null     int64
 3   Number of Words   31 non-null     int64
 4   Provider Rating   23 non-null     float64
 5   Physician Type    20 non-null     object
 6   Treatment Name    31 non-null     object
 7   Title             31 non-null     object
 8   Cost              31 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 2.4+ KB

In [ ]:
# Generating a matrix of word occurences instead of TF-IDF value.

cv = CountVectorizer(stop_words='english')
neg_v = cv.fit_transform(df_neg.Title)

In [ ]:
word_list = cv.get_feature_names()
count_list = neg_v.toarray().sum(axis=0) 
print('%s words (features) in negative review titles' %len(word_list))

77 words (features) in negative review titles

In [ ]:
#print top 10 words with highest occurence.

d = dict(zip(word_list,count_list))
print(sorted(d.items(), key=lambda item: item[1],reverse=True)[:10])

[('botox', 12), ('experience', 5), ('horrible', 4), ('bad', 3), ('results', 3), ('crows', 2), ('feet', 2), ('jaw', 2), ('just', 2), ('masseter', 2)]

In the negative review titles, the words about consumers sentiment, like horrible and bad, just appears 4 times and 3 times, respectively.
So the last problem is, since there are only 31 consumers giving negative ratings, the key words in their reviews are eliminated during truncated SVD step because of low frequency.

### Sentiment Intensity Analyzer

LSA doen't work well in this situation, so I try to assign polarity score to each comment title leveraging built-in sentiment analyzer in the NLTK Python library.

In [4]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [5]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [6]:
sia = SIA() #Instantiate

In [7]:
ss_df = pd.DataFrame(columns=['neg','pos','neu','compound'],dtype='float')

In [29]:
for index,row in df.iterrows():
    ss = sia.polarity_scores(row['Title'])
    ss_df.at[index,'neg'] = ss['neg']
    ss_df.at[index,'pos'] = ss['pos']
    ss_df.at[index,'neu']= ss['neu']
    ss_df.at[index,'compound'] = ss['compound']

In [34]:
ss_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 662 entries, 0 to 661
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   neg       662 non-null    float64
 1   pos       662 non-null    float64
 2   neu       662 non-null    float64
 3   compound  662 non-null    float64
dtypes: float64(4)
memory usage: 45.9 KB

In [35]:
ss_df

       neg    pos    neu  compound
0    0.183  0.295  0.522    0.3164
1    0.000  0.586  0.414    0.8176
2    0.000  0.804  0.196    0.6239
3    0.000  0.000  1.000    0.0000
4    0.000  0.000  1.000    0.0000
..     ...    ...    ...       ...
657  0.000  0.316  0.684    0.5719
658  0.000  0.000  1.000    0.0000
659  0.000  0.397  0.603    0.5574
660  0.000  0.666  0.334    0.6114
661  0.000  0.000  1.000    0.0000

[662 rows x 4 columns]

In [10]:
#load the data set with satisfaction score (saved in previous work)
df_1 = pd.read_csv('/content/drive/MyDrive/with_overall_score.csv')

In [36]:
df = pd.concat([df_1,ss_df],axis=1)

In [37]:
df.head()

   Unnamed: 0 Created Date Treatment Rating  ...    pos    neu  compound
0           0   2019-05-31         Worth it  ...  0.295  0.522    0.3164
1           1   2019-02-13         Worth it  ...  0.586  0.414    0.8176
2           2   2019-01-13         Worth it  ...  0.804  0.196    0.6239
3           3   2019-06-30         Worth it  ...  0.000  1.000    0.0000
4           4   2019-03-21     Not worth it  ...  0.000  1.000    0.0000

[5 rows x 22 columns]

In [38]:
df.groupby('Treatment Rating').describe()['compound']

                  count      mean       std  ...     50%     75%     max
Treatment Rating                             ...
Not worth it       31.0 -0.266603  0.313217  ... -0.4767  0.0000  0.5719
Worth it          631.0  0.464708  0.308264  ...  0.5859  0.6696  0.9380

[2 rows x 8 columns]

It seems like this polarity score matching the conusmers' rating.  Then, combine the sentiment score with the overall score

In [39]:
# simply add the sentiment score to the calculated satisfaction score
df['new_score'] = df['score'] + df['compound']

In [40]:
df.groupby(['Treatment Rating']).describe()['new_score']

                  count      mean       std  ...     50%      75%      max
Treatment Rating                             ...
Not worth it       31.0  2.955977  0.792959  ...  2.9904  3.30000   5.0719
Worth it          631.0  8.541887  0.421000  ...  8.5217  8.81915  10.2351

[2 rows x 8 columns]

In [41]:
df.groupby(['Treatment Name']).mean()['new_score'].sort_values

<bound method Series.sort_values of Treatment Name
botox            8.308456
chemical peel    8.113782
coolmini         7.971994
volbella         7.969443
Name: new_score, dtype: float64>

In [42]:
df.groupby(['Treatment Name']).mean()['score'].sort_values

<bound method Series.sort_values of Treatment Name
botox            7.869916
chemical peel    7.766071
coolmini         7.606250
volbella         7.602174
Name: score, dtype: float64>

With sentiment score added, the ranking of treatments doesn't change.